<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <style>
        body {
            background-color: #ff7675;
        }

        #login-form {
            /* background-color: #ff7675; */
            /* width: 1000px; */
            margin: auto;


        }

        .heading {
            text-align: center;
            font-size: 36px;
        }

        form {
            width: 600px;
            margin: auto;
            padding: 20px;
            border: 1px solid whitesmoke;
            border-radius: 8px;


        }

        .name-input {
            width: 250px;
            margin: 10px auto;
            padding: 10px;
            border-radius: 5px;
            border: none;
            display: block;

        }

        .pass-input {
            width: 250px;
            margin: 10px auto;
            padding: 10px;
            border-radius: 5px;
            border: none;
            display: block;
        }

        .btn-input {

            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            display: block;
            margin: 10px auto;
        }
    </style>
</head>

<body>

    <div id="login-form">
        <form method="post" action="/users">
            <h2 class="heading">Login Now</h2>

            <input type="text" class="name-input" name="username" placeholder="Type Your Email" value="" />
            <input type="password" class="pass-input" name="password" placeholder="enter password" />
            <input type="submit" class="btn-input" value="Login" />
        </form>
    </div>
</body>

</html>